<section class="company">
    <h1>Pizzeria Mamma Mia</h1>
</section>

<section class="reviews">
    <div class="overview-header">
        <h2 class="overview-heading">Reviews</h2>
        <div class="overview-details">
            <div class="overview-count">
                <span class="overview-count-average">4.1</span>
                <p class="overview-count-info">from 27 ratings</p>
            </div>
            <a href="#" class="overview-details-seeall">View all reviews</a>
        </div>
    </div>

    <div class="reviews-container">
        <ul class="review-list">
            <li class="review-item">
                <h2 class="review-item-heading">Your review</h2>
                <div class="rating">
                    <div class="rating-author-image">
                        <span class="anonymous">
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div class="rating-info">
                        <h2 class="rating-author">Karl Svensson</h2>
                        <div class="rating-details">
                            <div class="stars">
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating stars-on"></i>
                            </div>
                            <div class="source">
                                <span class="souce-time">1min ago</span>
                                <span class="source-separator">-</span>
                                <span class="source-site">hitta.se</span>
                            </div>
                        </div>
                        <div class="rating-empty-rating">
                            <a href="#">Describe your experience</a>
                        </div>
                        <div class="rating-edit">
                            <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="review-item header">
                <h2 class="review-item-heading">Latest reviews</h2>
            </li>
            <li class="review-item">
                <div class="rating">
                    <div class="rating-author-image">
                        <span class="anonymous">
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div class="rating-info">
                        <h2 class="rating-author">Anonym</h2>
                        <div class="rating-details">
                            <div class="stars">
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating"></i>
                            </div>
                            <div class="source">
                                <span class="souce-time">12h ago</span>
                                <span class="source-separator">-</span>
                                <span class="source-site">hitta.se</span>
                            </div>
                        </div>
                        <div class="rating-content">Liked it very much - probably one of the best pizzerias in the city - recommend!</div>
                    </div>
                </div>
            </li>
            <li class="review-item">
                <div class="rating">
                    <div class="rating-author-image">
                        <span class="anonymous">
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div class="rating-info">
                        <h2 class="rating-author">Jenny Svensson</h2>
                        <div class="rating-details">
                            <div class="stars">
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating"></i>
                                <i class="fas fa-star stars-rating"></i>
                            </div>
                            <div class="source">
                                <span class="souce-time">1min ago</span>
                                <span class="source-separator">-</span>
                                <span class="source-site">hitta.se</span>
                            </div>
                        </div>
                        <div class="rating-content">Maybe a bit too fast food. I personally dislike that. Good otherwise.</div>
                    </div>
                </div>
            </li>
            <li class="review-item">
                <div class="rating">
                    <div class="rating-author-image">
                        <img src="https://specials-images.forbesimg.com/imageserve/5a8d90fd4bbe6f2652f61c15/416x416.jpg?background=000000&cropX1=0&cropX2=1999&cropY1=159&cropY2=2159" alt="">
                    </div>
                    <div class="rating-info">
                        <h2 class="rating-author">Happy56</h2>
                        <div class="rating-details">
                            <div class="stars">
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating stars-on"></i>
                                <i class="fas fa-star stars-rating stars-on"></i>
                            </div>
                            <div class="source">
                                <span class="souce-time">1d ago</span>
                                <span class="source-separator">-</span>
                                <span class="source-site">yelp.com</span>
                            </div>
                        </div>
                        <div class="rating-content">Super good! Love the food!</div>
                    </div>
                </div>
            </li>
            <li class="review-seemore">
                <a href="#">View all reviews</a>
            </li>
        </ul>
    </div>
</section>
