// Core of scss where all colors,
// reoccurring sizes and others go.


// Breakpoint sizes
$xs: 420px;
$sm: 768px;
$md: 992px;
$lg: 1200px;


// Colors
$font-color: #333333;
$font-minor: #9B9B9B;
$portrait-background: #CCCCCC;
$border-color: #efefef;
$highlight: #fecd00;
$star-unselected: #D8D8D8;
$link-color: #039BEF;
$header-nav: #34aff4;

$white: #ffffff;
$black: #000000;
